NET "blue[0]"           LOC = T20       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "blue[1]"           LOC = R20       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "blue[2]"           LOC = T22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "blue[3]"           LOC = T23       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "green[0]"          LOC = R22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "green[1]"          LOC = R23       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "green[2]"          LOC = T24       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "green[3]"          LOC = T25       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "red[0]"            LOC = N21       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "red[1]"            LOC = N22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "red[2]"            LOC = R21       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "red[3]"            LOC = P21       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "hsync"             LOC = M22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vsync"             LOC = M21       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;

NET "ps2_data"          LOC = M19       | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "ps2_clk"           LOC = N18       | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "ps2_clk"			LOC = P25       | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "ps2_data"			LOC = N19       | IOSTANDARD = LVCMOS33 | PULLUP ;


NET "clk_100mhz"        LOC = AC18      |  IOSTANDARD = LVCMOS18;
NET "clk_100mhz"      TNM_NET = TM_CLK;
TIMESPEC TS_CLK_100M = PERIOD "TM_CLK"  10 ns HIGH 50%;

NET "Buzzer"            LOC = AF24      |  IOSTANDARD = LVCMOS33;

NET "RSTN"              LOC = AA10      | IOSTANDARD = LVCMOS15 ;

